<{include file='header.html' }>
  <div class="part pt-main" style="width:960px;">

    <div class="group gp1">
	
		<div class="mod mod-searchBar" >
		  
			  <div class="mod mod01 mod-notic">
                <div class="mhd"><b></b>
                  <h2>理财课堂</h2>
                </div>
			  <div class="mod mod-ksfw" style="height: 240px;">
                <ul>
                  <li style="background: url(./templates/img/ksfw.fw.png) no-repeat;"><a href="class.html">信托知识</a></li>
                  <li style="background: url(./templates/img/ksfw.fw.png) no-repeat;"><a href="money.html">理财知识</a></li>
<!--                   <a href="/rlzy/zpxx/"><li class="ksfw05">资产信托</li></a>
                  <a href="/rlzy/zpxx/"><li class="ksfw06">自营业务</li></a> -->
                </ul>
              </div>
			 <!--  <div class="tab-cont">
				<div class="cont hover">
					<form  method="get" name="xxss"  class="formSea01">
					  <p>
						用户名:<input type="text" maxlength="26" size="20px; name="k""/>
					  </p>
                      <p>
                       密&nbsp;&nbsp;码:<input type="text" maxlength="26" size="20px; name="k""/>
                      </p>
					  <p style="float:left;">
						
						&nbsp; <span class="btn01bg" style="margin-top:-40px;">
						  <input type="button" value="登录" class="btn01" />
						</span>
						</p>
                        <p>
                        
                        &nbsp; <span class="btn01bg" style="margin-top:-40px;">
                          <input type="button" value="注册" class="btn01" />
                        </span>
                        </p>
					</form>
					
				</div>
					
			  </div> -->
			  
				
			</div>
		
		  </div>
		  
		  
      <!-- <div class="mod mod-ksfw">
        <ul>
          <a href="mailto:zhizj@csg.cn;"><li class="ksfw01">资金信托</li></a>
          <a href="/kfzx/kfly/"><li class="ksfw02">票据信托</li></a>
          <a href="/download/"><li class="ksfw03">财产信托</li></a>
          <a href="/rlzy/zpxx/"><li class="ksfw04">公益信托</li></a>
          <a href="/rlzy/zpxx/"><li class="ksfw05">资产信托</li></a>
          <a href="/rlzy/zpxx/"><li class="ksfw06">自营业务</li></a>
        </ul>
      </div> -->
     
    </div>
    <div class="group gp2" style="width:720px;">
      <div class="mod mod-cpxx mod02" >
        <div class="mhd" style="background: url(./templates/img/lanmu.png) 0 -94px no-repeat;"> 
          <h2>理财知识<{if $cookie}><a href="cp.php?op=money" style="float:right;color:#333;">发布</a><{/if}></h2>
        </div>
            <div class="mbd">
          <ul class="disc01" style="margin-top:15px;height:260px;">         
           
            <{section name=sec1 loop=$list}>
                <li style="line-height:6px;">
                    <span><{$list[sec1].dateline}></span>
                    <a href='more.php?id=<{$list[sec1].id}>&op=money'  title='<{$list[sec1].subject}>'>
                    <{$list[sec1].subject}></a>
                </li>
　　          
　　          <{/section}>
            
          </ul>
            <p style="float:right;"><{$pageup}><{$pagedown}><{$pageconfig}></p><br/>
            </div>
           

      </div> 
      
    </div>
  </div>
     <br/>
  <p style="text-align:center;margin-top:10px;">友情链接：<a href="#">四川信托</a> <a href="#">新华信托</a> <a href="#">建设银行</a> <a href="#">华润信托</a> <a href="#">平安信托</a> <a href="#">工商银行</a> <a href="#">中国银行</a> <a href="#">吉林信托</a> <a href="#">大业信托</a></p>
<br/>
  </div>

</div>


<div class="pft">
	<p>版权所有：广州鑫泽投资管理有限公司</p>
	<p>公司总部：广州市天河区体育东路140号南方证券大厦506  </p>
    <p>E-mail:gdxinzetouzi@163.com </p>
    <p>工作时间：工作日08:30-17:30</p>
</div>


<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"0","bdPos":"left","bdTop":"100"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];</script>
<script type="text/javascript" src="../../ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="./templates/js/jquery-1.7.1.min.js"><\/script>')</script>
<!--[if lt IE 9]>
    <script src="js/selectivizr-and-extra-selectors.min.js"></script>
    <script src="../../ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
<![endif]-->
<script src="./templates/js/respond.min.js"></script>
<script src="./templates/js/jquery.easing-1.3.min.js"></script>
<script src="./templates/sliders/elastslider/jquery.eislideshow.js"></script>
<script src="./templates/js/jquery.jcarousel.min.js"></script>
<script src="./templates/js/jquery.cycle.all.min.js"></script>
<script src="./templates/js/custom.js"></script>
<script src="./templates/themeChanger/js/colorpicker.js"></script>
<script src="./templates/themeChanger/js/themeChanger.js"></script>
</body>
</html>

